<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>PDIS - Real Time Subtitle</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>


  <div style="margin:30px;">

    <div class="subtitle_bg">

      <div id="history" style="text-align: left;
      font-size: 20px;padding: 25px;height: 95px; float: left; word-break: break-all;font-family:標楷體;color:#000;">
        <p>
          <%= subtitle %>
        </p>
      </div>

    </div>
  </div>
    <%- include include.ejs %>
</body>

</html>