<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Real Time Board</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <ul class="pages">
    <div class="message">
        <h1 align="center" style="position: relative;left: 50px;" id="title"><%= title %></h1>
    </div>
  </ul>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  <script src="/main.js"></script>
</body>
</html>
