<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>PDIS - Real Time Subtitle</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
  

  <div style="margin:30px;">

    <div class="textbox_bg" style="display:none;">
      <img src="upload/back.png" style="height:100%;float:left;border-radius: 50%;">
      <div id="subtitle" style="padding: 25px;height: 95px; float: left; word-break: break-all;font-family:標楷體;">
       <%= subtitle %>
      </div>

    </div>
  </div>
    <%- include include.ejs %>
</body>

</html>
