/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}


.admin {
    background-color:white;
}


html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  text-align: center;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}



.pages {

  background: url("back.png") no-repeat ;

  background-position:center;
  display:block; 
  margin:0 auto;
  height: auto;
  padding: 0;
  width: 100%;

}

.messageLog {
  font-family: '標楷體';
    font-size: 12px;
    margin:0 auto; 
    color:black;
}

.message {
  font-family: '標楷體';
  font-size: 30px;
  padding: 30px;
    margin:0 auto; 
    color:black;
}

.inputMessage {
  font-size: 100%;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.textbox_bg {
  display: inline-block;
  height: 95px;
  font-size: 35px;
  border: 2px #ccc solid;
  border-radius: 50px 50px 50px 50px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9dbdb+0,f4c8c8+44,ffc9c9+48,ffbcbc+100 */
background: rgb(249,219,219); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(249,219,219,1) 0%, rgba(244,200,200,1) 44%, rgba(255,201,201,1) 48%, rgba(255,188,188,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(249,219,219,1) 0%,rgba(244,200,200,1) 44%,rgba(255,201,201,1) 48%,rgba(255,188,188,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(249,219,219,1) 0%,rgba(244,200,200,1) 44%,rgba(255,201,201,1) 48%,rgba(255,188,188,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9dbdb', endColorstr='#ffbcbc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.inputMessage {
  border: 10px solid #000;
  bottom: 0px;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: fixed;
  right: 0;
  width: 100%;
}
.listbutton{
  padding: 3px;
  vertical-align: middle;
  display: table;
  width: 100%;
}